/Manifest*.toml
/bench/Manifest*.toml
/bench/CUDA/Manifest*.toml
/bench/AMDGPU/Manifest*.toml
/HammerheadGUI/Manifest*.toml
/cases/
/docs/Manifest*.toml
/docs/build/
/bench/profile-output/
*.log
/docs/src/tutorials/
